/* Style the button */
button {
    background-color: #8B4513;
    color: whitesmoke;
    padding: 12px 15px; /* Match the padding with the input field */
    cursor: pointer;
    border: none;
    transition: color 0.3s;
    margin-top: 30px;
    height: 48px; /* Set the height to match the input field */
}

    /* Style the button on hover */
    button:hover {
        background-image: linear-gradient(180deg, #050505 0%, #001f3f 100%);
    }

.text {
    color: #8B4513;
    font-family: 'Verdana';
    font-size: 35px;
    text-align: center;
}

h1 {
    color: #8B4513;
    font-family: 'Verdana';
    font-size: 15px;
    text-align: center;
}

/* Style the input field */
input {
    padding: 12px; /* Increase padding for more comfortable input */
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #8B4513; /* Increase border width for better visibility */
    border-radius: 6px; /* Rounded corners for a softer look */
    font-size: 16px;
    height: 48px; /* Set the height to match the button */
    transition: border-color 0.3s; /* Add transition for a smoother focus effect */
}

    /* Style the input field on focus */
    input:focus {
        outline: none;
        border-color: #8B4513;
        box-shadow: 0 0 8px rgba(139, 69, 19, 0.5); /* Increase box-shadow size on focus */
    }
